#footer
  background: #1e222b
  width: 100%
  height: 12vh
  display: flex
  position: fixed
  bottom: 0
  z-index: 10

#ds
  opacity: 0.5

.p-i
  display: flex
  gap: 10px
  width: 150vh
  //border: 2px solid white
  justify-content: center
  button
    background: transparent
    border-radius: 100%
    //height: 60px
    border: none
    cursor: pointer
    img
      //background: white
      border-radius: 100%
      padding: 5px
      transition: all ease 0.5s
      &:hover
        background: white


.a-i
  padding: 10px
  display: flex
  align-items: center
  justify-content: center
  gap: 15px
  //background: green
  width: 200px
  transition: all ease 0.3s
  cursor: pointer
  &:hover
    background: #272b35
  img
    border-radius: 3px

