<div>
  <footer id="footer">
    <div class="a-i">
      <img src="assets/musics/meteora.jpg" width="50px" alt="">
      <span>
        <p><b>Numb</b></p>
        <p id="ds">Linkin Park</p>
      </span>
    </div>

    <div class="p-i">
      <audio (timeupdate)="updateProgress()" #ps src="assets/musics/taca.mp3"></audio>

      <span class="btn">
        <button><img src="assets/ElementosdeTestes/foward.png" width="17px" alt=""></button>
        <button (click)="playPause()"><img src={{playorpause}} width="25px" alt=""></button>
        <button><img src="assets/ElementosdeTestes/next.png" width="17px" alt=""></button>
      </span>

      <span id="p-b">
        <p>{{currentTime}}</p>

        <div id="progress-container" #progress2 (click)="seekBar($event)">
          <div id="bar" [style.width]="progress + '%'"></div>
        </div>

        <p>{{duration}}</p>
      </span>
    </div>

    <div class="f-i">
      <img src="assets/ElementosdeTestes/volume.png" width="20px" alt="">
      <input id="vol" type="range" min="0" max="100" [(ngModel)]="volume" (input)="setVolume()">
    </div>

  </footer>
</div>
