<div *ngIf="dados">
  <footer id="footer">

    <div class="a-i">
      <img *ngIf="currcov" src={{currcov}} width="50px" height="50px" >
      <span class="titles">
        <p><b>{{currtilt}}</b></p>
        <p id="ds">{{currart}}</p>
      </span>
    </div>

    <div class="p-i">

      <span class="btn">
        <button><img src="assets/ElementosdeTestes/foward.png" width="17px" alt=""></button>
        <button (click)="playPause()"><img src={{playorpause}} width="25px" alt=""></button>
        <button><img src="assets/ElementosdeTestes/next.png" width="17px" alt=""></button>
      </span>

      <span id="p-b">
        <p><b>{{currentTime}}</b></p>

        <div id="progress-container" #p2 (click)="seekBar($event)">
          <div id="bar" [style.width]="progress + '%'"></div>
        </div>

        <p><b>{{duration}}</b></p>
      </span>

    </div>

    <div class="f-i">
      <img src="assets/ElementosdeTestes/volume.png" width="20px" alt="">
      <input id="vol" type="range" min="0" max="100" [(ngModel)]="volume" (input)="setVolume()">
    </div>

  </footer>
</div>
