<div>
  <footer id="footer">
    <div class="a-i">
      <img src="assets/ElementosdeTestes/meteora.jpg" width="50px" alt="">
      <span>
        <p><b>Numb</b></p>
        <p id="ds">Linkin Park</p>
      </span>
    </div>

    <div class="p-i">
      <button><img src="assets/ElementosdeTestes/foward.png" width="20px" alt=""></button>
      <button><img src="assets/ElementosdeTestes/botao-play.png" width="50px" alt=""></button>
      <button><img src="assets/ElementosdeTestes/next.png" width="20px" alt=""></button>
    </div>

    <div class="f-i">
      
    </div>

  </footer>
</div>
