.conteudo
  display: flex
  flex-direction: column
  margin-left: 230px
  height: calc( 100vh - 12vh )
  //padding-bottom: 12vh
main
  background: linear-gradient(to bottom ,#1e292b,#000000ee ,#000000ee,#000000ee,#000000ee )
  width: 100%
  flex-grow: 1
  overflow-y: auto  // Alterado de scroll para auto
  height: calc( 100vh - 12vh )
  padding-bottom: 12vh
  h1
    padding: 30px
.c-c-1
  width: 260px
  padding: 10px
  border-radius: 10px
  background: #363636be
  //box-shadow: 1px 1px 9px black
.c-c-2
  width: 140px
  padding: 10px
  border-radius: 10px
  transition: all ease 0.4s
  transform: all ease 0.4s
  background: none
  &:hover
    background: #363636be
.c-1
  margin-left: 80px
  min-width: 80vh
  flex-wrap: wrap
  display: flex
  gap: 20px
.c-2
  margin-left: 80px
  min-width: 80vh
  flex-wrap: wrap
  display: flex
  gap: 20px

.c-o-c-1
  display: flex
  align-items: center
  gap: 30px
  cursor: pointer
  img
    border-radius: 5px
  span
    display: flex
    flex-direction: column
    gap: 10px
.c-o-c-2
  display: flex
  align-items: baseline
  flex-direction: column
  cursor: pointer
  gap: 10px
  img
    border-radius: 5px
  span
    display: flex
    flex-direction: column
    gap: 10px

#st
  font-size: 20px
#ds
  opacity: 0.6

.f-m
  border-top: 2px solid #ffffff93
  width: 90%
  margin: auto
  margin-top: 100px
.itens
  display: flex
  flex-direction: column
  gap: 30px
  padding-top: 20px



