<div class="conteudo">
  <main class="main">

    <h1>Destaques De Hoje</h1>
    <section class="c-1">

      <div class="c-c-1">
        <div class="c-o-c-1">
          <img src="assets/ElementosdeTestes/meteora.jpg" width="90px" alt="qweer">
          <span>
            <p id="st">Numb</p>
            <p id="ds">Meteora </p>
          </span>
        </div>
      </div>
      <div class="c-c-1">
        <div class="c-o-c-1">
          <img src="assets/ElementosdeTestes/meteora.jpg" width="90px" alt="qweer">
          <span>
            <p id="st">Numb</p>
            <p id="ds">Meteora </p>
          </span>
        </div>
      </div>
      <div class="c-c-1">
        <div class="c-o-c-1">
          <img src="assets/ElementosdeTestes/meteora.jpg" width="90px" alt="qweer">
          <span>
            <p id="st">Numb</p>
            <p id="ds">Meteora </p>
          </span>
        </div>
      </div>

    </section>
    <h1>Home</h1>
    <section class="c-2">

      <div class="c-c-2">
        <div class="c-o-c-2">
          <img src="assets/ElementosdeTestes/meteora.jpg" width="140px" alt="qweer">
          <span>
            <p id="st">Numb</p>
            <p id="ds">Meteora </p>
          </span>
        </div>
      </div>
      <div class="c-c-2">
        <div class="c-o-c-2">
          <img src="assets/ElementosdeTestes/meteora.jpg" width="140px" alt="qweer">
          <span>
            <p id="st">Numb</p>
            <p id="ds">Meteora </p>
          </span>
        </div>
      </div>
      <div class="c-c-2">
        <div class="c-o-c-2">
          <img src="assets/ElementosdeTestes/meteora.jpg" width="140px" alt="qweer">
          <span>
            <p id="st">Numb</p>
            <p id="ds">Meteora </p>
          </span>
        </div>
      </div>
      <div class="c-c-2">
        <div class="c-o-c-2">
          <img src="assets/ElementosdeTestes/meteora.jpg" width="140px" alt="qweer">
          <span>
            <p id="st">Numb</p>
            <p id="ds">Meteora </p>
          </span>
        </div>
      </div>
      <div class="c-c-2">
        <div class="c-o-c-2">
          <img src="assets/ElementosdeTestes/meteora.jpg" width="140px" alt="qweer">
          <span>
            <p id="st">Numb</p>
            <p id="ds">Meteora </p>
          </span>
        </div>
      </div>

    </section>

  </main>
</div>
