<div class="conteudo">
  <main class="main">

    <h1>HighLights</h1>
    <section class="c-1">

      <div class="c-c-1" *ngIf="dados">
        <div class="c-o-c-1">
          <a routerLink="/song-content/{{dados[ale1]?.id}}">
            <img src={{dados[ale1]?.Cover}} width="90px" height="90px" alt="qweer">
            <span>
              <p id="st">{{dados[ale1]?.Title}}</p>
              <p id="ds">{{dados[ale1]?.Artist}}</p>
            </span>
          </a>
        </div>
      </div>

      <div class="c-c-1" >
        <div class="c-o-c-1">
          <a routerLink="/song-content/{{dados[ale2]?.id}}">
            <img src={{dados[ale2]?.Cover}} width="90px" height="90px" alt="qweer">
            <span>
              <p id="st">{{dados[ale2]?.Title}}</p>
              <p id="ds">{{dados[ale2]?.Artist}}</p>
            </span>
          </a>
        </div>
      </div>

      <div class="c-c-1" >
        <div class="c-o-c-1">
          <a routerLink="/song-content/{{dados[ale3]?.id}}">
            <img src={{dados[ale3]?.Cover}} width="90px" height="90px" alt="qweer">
            <span>
              <p id="st">{{dados[ale3]?.Title}}</p>
              <p id="ds">{{dados[ale3]?.Artist}} </p>
            </span>
          </a>
        </div>
      </div>


    </section>
    <h1>Home</h1>
    <section class="c-2">

      <div class="c-c-2" *ngFor="let dado of dados.slice(0,5) ">
        <div class="c-o-c-2">
          <a routerLink="/song-content/{{dado.id}}">
            <img src={{dado.Cover}} width="140px" height="140px" alt="qweer">
            <span>
              <p id="st">{{dado.Title}}</p>
              <p id="ds">{{dado.Artist}}</p>
            </span>
          </a>
        </div>
      </div>

    </section>
    <h1>Top Played</h1>
    <section class="c-2">

      <div class="c-c-2" *ngFor="let dado of dados.slice(6,11) ">
        <a routerLink="/song-content/{{dado.id}}">
          <div class="c-o-c-2">
            <img src={{dado.Cover}} width="140px" height="140px" alt="qweer">
            <span>
              <p id="st">{{dado.Title}}</p>
              <p id="ds">{{dado.Artist}}</p>
            </span>
          </div>
        </a>
      </div>

    </section>
    <h1>Recomended</h1>
    <section class="c-2">

      <div class="c-c-2" *ngFor="let dado of dados.slice(11,16) ">
        <a routerLink="/song-content/{{dado.id}}">
          <div class="c-o-c-2">
            <img src={{dado.Cover}} width="140px" height="140px" alt="qweer">
            <span>
              <p id="st">{{dado.Title}}</p>
              <p id="ds">{{dado.Artist}}</p>
            </span>
          </div>
        </a>
      </div>

    </section>

    <footer class="f-m">
      <div class="itens">
        <p>All Rigths Reserved</p>
        <p>© 2024 Fym Industries</p>
      </div>
    </footer>

  </main>
</div>
